#preloader {
    text-align: center;
    font-size: 0;
    height: 60px;
    margin: 20px;
}
#preloader .notch {
    display: inline-block;
    width: 8px;
    height: 45px;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
    animation: colorbars 333ms alternate infinite cubic-bezier(0.2, 0, 0.5, 1);
}

#preloader .notch:nth-of-type(1) {
    background: #2776b7;
    border-radius: 3px 0 0 3px;
    animation-delay: 111ms;
}

#preloader .notch:nth-of-type(2) {
    background: #328fc5;
    animation-delay: 222ms;
}

#preloader .notch:nth-of-type(3) {
    background: #56b4d4;
    animation-delay: 333ms;
}

#preloader .notch:nth-of-type(4) {
    background: #61ca8c;
    animation-delay: 444ms;
}

#preloader .notch:nth-of-type(5) {
    background: #c5e9ae;
    border-radius: 0 3px 3px 0;
    animation-delay: 555ms;
}

@keyframes colorbars {
    to {
        -moz-transform: translateY(12px);
        -ms-transform: translateY(12px);
        -webkit-transform: translateY(12px);
        transform: translateY(12px);
    }
}