<div class="panel panel-success">
    <div class="panel-heading">{{name}}</div>
    <div class="panel-body">
        <div class="result-data well col-xs-9">{{data}}</div>
        <div class="result-time well col-xs-offset-1 col-xs-2">{{time}}</div>
    </div>
</div>